<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ChristianGM">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cajero</title>
    {% load static %}
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'ui/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'ui/css/style.css' %}">
</head>

<body>

    <div class="main">
        <div class="container">
            <div>
                <img src="{% static 'ui/images/logo_transparent.png' %}" alt="" style="height:150px; float: left">
            </div>
            <div class="card card-upper">
                <img src="{% static 'ui/images/services.png' %}" alt="" style="height:65px; float: left; margin-top:30px; margin-left:20px">
                <h2 style="margin-top:45px">Servicios</h2>
            </div>
            <div class="card card-middle">
                <img src="{% static 'ui/images/card.png' %}" alt="" style="height:105px; float: left; margin-top:10px; margin-left:20px">
                <h2 style="margin-top:25px">Recarga de Tarjeta</h2>
            </div>
            <div class="card card-bottom">
                <img src="{% static 'ui/images/consulta.png' %}" alt="" style="height:105px; float: left; margin-top:15px; margin-left:20px">
                <h2 style="margin-top:45px">Consultar</h2>
            </div>
            <div class="vl"></div>
            <div class="image image-bottom-right">
                <img src="{% static 'ui/images/cajero-con-billete.gif' %}" alt="" style="height:500px;">
                <p class="insert-ticket">Inserte<br/>Ticket</p>
                <p class="service">Pago de <br/>Estacionamiento</p>
            </div>
            <div id="contador" class="card-not-ticket">
                Sin Ticket
            </div>
            <p id="fecha" class="date">14:29, 23 de marzo de 2019</p>
        </div>
    </div>

    <!-- JS -->
    <script src="{% static 'ui/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ui/vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'ui/vendor/jquery-validation/dist/additional-methods.min.js' %}"></script>
    <script src="{% static 'ui/vendor/jquery-steps/jquery.steps.min.js' %}"></script>
    <script src="{% static 'ui/js/main.js' %}"></script>
    <script src="{% static 'ui/js/ws.js' %}"></script>
    <script src="{% static 'ui/js/ws2.js' %}"></script>
</body>

</html>